<div class="container-fluid fixed-bottom" style="background-color: #e3f2fd;">
    <footer class="">
          <ul class="nav justify-content-center border-bottom">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Station-88</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Lukash Andrei</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Saint-Petersburg</a></li>
          </ul>
          <p class="text-center text-body-secondary">&copy; 2023 ToDo Application </p>
    </footer>
</div>