ul {
  list-style-type: none;
}

.verticalLine-right {
  border-right: thick solid #e3f2fd;;
}

.verticalLine-left {
  border-left: thick solid #e3f2fd;;
}

.colo {
  background-color: #ff0000;
  color: blueviolet;
}

