ul {
  list-style-type: none;
}

.verticalLine-right {
  border-right: thick solid #e3f2fd;
  ;
}

.horizontalLine-top {
  border-top: thick solid #e3f2fd;
}

.horizontalLine-bottom {
  border-bottom: thick solid #e3f2fd;
}

.verticalLine-left {
  border-left: thick solid #e3f2fd;
  ;
}

