{% extends 'base.html' %}
{% block content %}
<form id="editForm" action="/users/me" method="post" style="margin-top: 100px;">
    <input type="email" name="email" value="{{user.email}}" />
    <input type="text" name="name" value="{{user.name}}"/>
    <input type="number" name="color_id" value="{{user.color_id}}"/>
    <button type="submit">submit</button>

</form>
<script>
    const editForm = document.getElementById('editForm');
    editForm.addEventListener('submit', submitForm)

    function submitForm(event) {
       
        event.preventDefault();

        let formData = new FormData(event.target);

        let obj = {};
        formData.forEach((value, key) => obj[key] = value);

        let request = new Request(event.target.action, {
            method: 'PATCH',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json',
            },
        });

        fetch(request).then(
            function (response) {
                window.location.href = '/tasks';
            },
            function (error) {
                console.error(error);
            }
        );
        
        console.log('Запрос отправляется');
    }
</script>
{% endblock %}