{% extends 'base.html' %}
{% block content %}

<div class="container-xxl text-center my-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 verticalLine-right">
            {% for task in todo_zone_tasks %}
            {% include 'include/task_card.html'%}
            
           
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-4">
            {% for task in middle_zone_tasks %}
            {% include 'include/task_card.html'%}
            
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-4 verticalLine-left">
            {% for task in done_zone_tasks %}
            {% include 'include/task_card.html'%}
           
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}