{% extends 'base.html' %}
{% block content %}

<form method="post" enctype="application/x-www-form-urlencoded" action="/theme/{{theme.slug}}/update">
    <input type="text" name="name" value="{{theme.name}}"/>
    <input type="text" name="slug" value="{{theme.slug}}"/>
    <input type="number" name="color_id" value="{{theme.color_id}}"/>
    <input type="number" name="cat_id" value="{{theme.cat_id}}"/>
    <input type="submit">
</form>
<form action="/theme/{{theme.slug}}/delete" method="get">
    <button>delete</button>
</form>
{{ theme }}
{% endblock %}